body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* Section 1 -------- Joan */





























































































/* end of section 1 */

/* section 2 -------------- Edua */
































































































/* End of section 2 */

/* section 3 ------------ Temmie */





































































































































































































/* End of section 3 */

/* section 4 ---------------- blessing */

































































































/* End of section 4 */

/* section 5 ------------ Rahmota */

































































































/* End of section 5 */

/* section 6 ------------ Mariam */









