body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0E0E0E;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman';
}

/* Section 1 -------- Joan */





























































































/* end of section 1 */

/* section 2 -------------- Edua */
/* About Us */
.section2 {
    background-color: white;
    height: 300vh;
    width: 80%;
    margin: 0 auto;
}

.aboutUs {
    background-color: #F6F6F6;
    height: 95vh;
}

.sides {
    width: 85%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    background-image: url(/images/Holiday-sales2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 42%;
    height: 68vh;
    margin: 60px 0 0 0;
    position: relative;
}

.left .round-circle {
    border: 2px solid white;
    border-radius: 50%;
    height: 62vh;
    margin: 12px auto;
    width: 90%;

}

.round-circle .white-border-circle {
    border: 2px solid white;
    border-radius: 48%;
    height: 8vh;
    margin: auto;
    width: 50px;
    position: relative;
    top: 160px;
    background-color: #c7cdd4a1;
}

.white-border-circle img {
    position: absolute;
    top: 12px;
    right: 13px;
}

.pink-stars {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 250px;
    left: 30px;
}

.right {
    width: 54%;
    height: 68vh;
    margin-left: 60px;
    background-image: url(/images/flower-variant-with-many-petals-svgrepo-com.svg);
    background-position: center;
    background-size: cover;
}

.overlay.one {
    background: #F6F6F6;
    opacity: .8;
}

h6 {
    font-size: 20px;
    font-weight: 600;
}

.h2 {
    color: #262626;
    font-size: 40px;
    font-weight: bolder;
    margin-top: -35px;
}

.h2-span {
    color: #6A00AD;
}

#text {
    color: #6C6C6C;
    font-size: 19px;
    margin-top: -17px;
}

.purple-band {
    background-color: #5E00A6;
    display: flex;
    border-radius: 20px;
    height: 100px;
}

.band {
    flex: 1;
    padding: 5px 0 0 15px;
    position: relative;
}

.band-p {
    font-size: 32px;
    color: #F38EEB;
    font-weight: 800;
    position: relative;
    top: -20px;
}

.band-span {
    font-size: 14px;
    color: #E7A0FF;
    position: relative;
    top: -45px;
}

.vertical-line {
    background-color: rgba(255, 255, 255, 0.096);
    width: 1px;
    height: 70px;
    margin: 20px;
}

h5 {
    font-size: 26px;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/*End of About Us */

/* Our Products */
.products-sales {
    background-image: url(/images/festive-stars-background-design-vector.png);
    background-position: center;
    background-size: cover;
}

.overlay.two {
    background-color: white;
    opacity: .9;
}

.ourProducts {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 91%;
    margin: 40px 0 20px 90px;
    overflow-x: hidden;
}

.products-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.products-header button {
    position: relative;
    right: 20px;
    top: -30px;
    width: 170px;
    height: 40px;
    background-color: #600199;
    border-radius: 40px;
    color: #F8D4FF;
    border: none;
    /* box-shadow: ;------------------------------- */
} 

.productList {
  display: flex;
  gap: 15px;
  overflow: hidden;
}

.product {
  flex: 0 0 292px;
  height: 400px;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}


.img-top {
  position: relative;
  width: 100%;
  height: 284px;
  border-radius: 20px;
}

.img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.shop-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shop-icons .product-circle {
  background: #FFFFFF;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-icons .product-circle img {
  width: 16px;
  height: 16px;
}

.img-top .top-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #F992E9;
  color: #560446;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  border: none;
  font-weight: 700;
}

.img-top .duration {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #600199;
  width: 90%;
  height: 60px;
  border-radius: 15px;
  color: #EE8DFF;
  font-size: 14px;
}

.duration .time {
  text-align: center;
}

.duration .time p:first-child {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.duration .time p:last-child {
  margin: 2px 0 0 0;
  color: #ffd1ffce;
}

.txt-bottom {
  padding: 5px 10px;
  flex: 1;

}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span,
.rating p:first-child {
  color: #7F7F7F;
  font-size: 14px;
}

.rating p:last-child {
  color: #232323;
  font-weight: bold;
  font-size: 20px;
}

.named {
    margin-top: -15px;
}

.name {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  margin: 4px 0;
}

.txt-bottom p s {
  color: #ABABAB;
  margin-left: 5px;
}
/* End of Our Products */

/* Holiday sales */

.holidaySales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  width: 85%;
  margin: auto;
}

/* Side images */
.sales-left,
.sales-right {
  width: 250px;
  position: relative;
}

.sales-left img,
.sales-right img {
  width: 100%;
  display: block;
  border-radius: 20px;

  clip-path: path("M20,0 Q125,20 230,0 L250,0 L250,500 L0,500 L0,0 Z"); 
}

.white-border-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 20px;
  pointer-events: none;
}

.sales-middle {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  margin: 0 20px;
}

.h2 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.h2-span {
  color: #7a1fd1;
}

.subtitle {
  margin: 10px 0 30px;
  font-size: 18px;
  color: #444;
}

.dtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 32px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  color: #666;
}

.separator {
  font-size: 32px;
  font-weight: bold;
  color: #444;
}

.shop-btn {
  background: #7a1fd1;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.flower {
  position: absolute;
  width: 120px;
}

.flower.top-left {
  top: -30px;
  left: -40px;
}

.flower.bottom-right {
  bottom: -30px;
  right: -40px;
}

/* End of section 2 */

/* section 3 ------------ Temmie */

.section3{
    height: 300vh;
    width: 80%;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.new-arrival-sect >  {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}
.marq-sect {
  background-color: #5e00a6;
  height: 6vh;
  width: 100%;
  align-content: center;
}
.marque {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.marque > span {
  text-transform: capitalize;
  color: white;
  font-size: 1.2rem;
}
.new-arrival{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title1 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-transform: capitalize;
}
.title2 {
  font-size: 3rem;
  color: #5e00a6;
  font-weight: 700;
}
.product-title {
  color: black;
  font-size: 3rem;
  font-weight: 700;
}
.card-sec {
  display: flex;
  gap:20px;
  width: 100%;
}
.new-arrival-product-card {
  border: 2px solid rgb(230, 227, 227);
  padding: 9px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 100%;
}
.product-card {
  display: flex;
  background-color: #ffffff;
  width: 100%;
}
.img-sect {
  position: relative;
  border: 3px solid transparent;
  border-radius: 40px;
  background-color: #f6f6f6;
  width: 100%;
  padding: 9px;
}
.img-sect > img {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 30vh;
}
.absolute-container > p {
  padding: 8px;
  width: 25%;
  border-radius: 20px;
  text-align: center;
}
.slash {
  position: absolute;
  background: #fd93e8;
}

.icons-sec {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.icons {
  padding: 10px;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: white;
}
.text-sect {
  width: 100%;
  padding: 10px;
}
.basket-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-sec > p {
  text-transform: capitalize;
  color: #afafaf;
  font-size: 1.5rem;
}
.rating-sec {
  display: flex;
  gap: 2px;
  font-size: 1.5rem;
}
.fresh-flower-sec > h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
}
.fresh-flower-sec > h2 {
  font-size: 2rem;
  display: flex;
  gap: 20px;
}
.slashed {
  color: #afafaf;
  text-decoration: line-through;
}
.fresh-flower-sec > p {
  font-size: 1.rem;
  color: #9f9f9f;
}
.shop-btn {
  color: #5e00a6;
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 1.5rem;
}
.icons-sec2 {
    display: none;
}

.weekly-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 40px;
}
.all-deals{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #5e00a6;
  padding: 0 50px;
  width: 85%;
 
}
.week-text1{
  color: #fd93e8;
  font-size: 2rem;
  text-transform: capitalize;
}
.weekly-text-sec > h2{
font-size: 3rem;
text-transform: capitalize;
width: 60%;
}
.beautiful-flowers {
  color:#fd93e8;
}
.week-text2 {
  color: #CF81F4;
  font-size: 1.5rem;
}
.weekly-btn{
   padding: 12px 28px;
   color: #000;
   border: 1px solid transparent;
   border-radius: 30px;
   font-size: 1.5rem;
   text-align: center;
   background-color: #fd93e8;
   font-weight: 500;
}

.weekly-img-sec {
  /* width: 40%; */
  height: 100%;
}
.weekly-img-sec > img {
  width: 30vw;
  height: 50vh;
  
}





































































































































































































/* End of section 3 */

/* section 4 ---------------- blessing */

































































































/* End of section 4 */

/* section 5 ------------ Rahmota */

































































































/* End of section 5 */

/* section 6 ------------ Mariam */









